main{
  background-color: #F5F5F5;
  height: 600px;
  width: 50%;
  margin-top: 65px;
  margin-left: 30px;
  border-radius: 5px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.die{
  background-color: white;
  width: fit-content;
  height: fit-content;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 5px 5px 5px lightgrey;
  border-radius: 5px;
}

.dice-container{
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}

.roll-dice {
  height: 75px;
  width: 150px;
  border: none;
  margin-top: 50px;
  border-radius: 6px;
  background-color: #5035FF;
  color: white;
  font-size: 1.2rem;
  box-shadow: 5px 5px 5px lightgrey;
}

.roll-dice:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.die-clicked{
  background-color: #59E391;
  width: fit-content;
  height: fit-content;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 5px 5px 5px lightgrey;
  border-radius: 5px;
}

.title {
  font-size: 40px;
  margin: 0;
  font-weight: bold;
}

.instructions{
  text-align: center;
  width: 75%;
  font-weight: bold;
  font-size: 150%;
}

.score-container{
  width: 30%;
  background-color: #F5F5F5;
  height: 400px;
  margin-top: 65px;
  margin-left: 50px;
  margin-right: 20px;
  border-radius: 5px;
  padding: 20px;
}

.element-container{
  display: flex;
}

.rolls{
  display: flex;
  font-size: 150%;
}

.count{
  background-color: #5035FF;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
  color: white;
  margin-left: 50px;
  font-weight: bold;
}